<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780407268552-5jokcbrofl70u7leja6jghrd8el8o0ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780407268552-5jokcbrofl70u7leja6jghrd8el8o0ih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780407268552-mgnv2mbescb87vf9cr5o2pu1m21gdecv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT8mdAXcIAK53kD3G1dFLgsOZOjLN_w6k</string>
	<key>GCM_SENDER_ID</key>
	<string>780407268552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bea.mybin</string>
	<key>PROJECT_ID</key>
	<string>my-bin-343518</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bin-343518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780407268552:ios:cee4c62bdde481fd80f1fd</string>
	<key>DATABASE_URL</key>
	<string>https://my-bin-343518-default-rtdb.firebaseio.com</string>
</dict>
</plist>